:root {
  --border-color: #d1d3d4;
  --bg-color: #ffffff;
  --text-color-light: hsl(207, 4%, 53%);
  --icon-color-fill: #2e3a59;
  --icon-color-fill-hover: #576891;
  --spacing-base: 0.5rem;
}

:global(.screen-reader-text) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
