:root {
  --border-color: #d1d3d4;
  --bg-color: #ffffff;
  --text-color-light: #82878b;
}

.root {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  max-width: 320px;
  min-height: 270px;
  border-radius: 4px;

  //
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;

  &.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*------------------------------------*\
  #Header
\*------------------------------------*/

.header {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.title {
  font-size: 20px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 0.8rem;
  margin-bottom: 0;
}

.date {
  color: var(--text-color-light);
  font-size: 12px;
  line-height: 1;
}

.editBtn {
  padding: 4px 8px;
  background-color: #f4f5f7;
  border: 1px solid var(--border-color);

  &:active {
    background-color: #ccc;
  }

  &:focus {
    background-color: #f4f5f7;
  }

  svg {
    stroke: #2e3a59;
  }

  &:hover {
    background-color: #dddddd;
  }
}

/*------------------------------------*\
  #CurrencyGroup
\*------------------------------------*/

.CurrencyGroup {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/*------------------------------------*\
  #CurrencyItem
\*------------------------------------*/

.currencyItem {
  & + & {
    border-top: 1px solid var(--border-color);
  }

  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
}

.flag {
  width: 48px;
  border: 0.25px solid #adb5bd;
}

.nameShort,
.currencyValue {
  // padding-bottom: 4px;
  line-height: 1;
}

.nameLong,
.currencyConversion {
  color: var(--text-color-light);
  font-size: 12px;
  line-height: 1;
}

.valueWrapper {
  text-align: right;
}

// Currency

.currencyInput {
  width: 100%;
  max-width: 6rem;
}
/*------------------------------------*\
  #Footer
\*------------------------------------*/

.footer {
  padding: 16px;
}

.addCurrencyBtn {
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
