@use '../../styles/global';

/*------------------------------------*\
  #EmptyState
\*------------------------------------*/

.emptyStateWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  max-width: 320px;
  min-height: 270px;
  border-radius: 4px;

  // Fonts
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;

  &.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*------------------------------------*\
  #Content
\*------------------------------------*/

.content {
  display: grid;
  grid-template-rows: minmax(100px, 1fr) auto;
  gap: var(--spacing-base);
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacing-base) * 2);
}

/*------------------------------------*\
  #Add
\*------------------------------------*/

.addWrapper {
  padding: calc(var(--spacing-base) * 2);
}

/*------------------------------------*\
  #ToDo List
\*------------------------------------*/

.todoList {
  margin: 0;
  padding: 0;
}

.rootItem {
  list-style: none;
  padding: var(--spacing-base) calc(var(--spacing-base) * 2);
  display: grid;
  grid-template-columns: 1fr auto;

  &:hover,
  &:focus-within {
    background-color: #f4f5f6;

    .deleteBtn {
      opacity: 1;
      visibility: visible;
      fill: var(--icon-color-fill-hover);
    }
  }
}

.deleteBtn {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  display: flex;
  border-radius: 50%;
  place-self: center;
  background: none;
  border: 0;
  background: none;

  &:hover {
    background: none;

    svg {
      fill: var(--icon-color-fill-hover);
    }
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--icon-color-fill);
  }
}

/*------------------------------------*\
  #Footer
\*------------------------------------*/

.footer {
  padding: calc(var(--spacing-base) * 2);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-base);
}

.completedPercentage {
  color: var(--text-color-light);
}

.progressWrapper {
  align-self: center;
}
